<html ng-app="todoyall">
<head>
<style>
    .done-true{
        text-decoration:line-through;
    }    
</style>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0-rc.2/angular.min.js"></script>
<script src="js/app.js"></script>
<script src="js/fancypants.js"></script>
</head>
<body ng-controller="TodoController">
    <h1>MY TODO LIST!!</h1>
    <form name="datToDoForm" ng-submit="add(datToDoForm)" novalidate>
    <input type="text" ng-model="newTodo" no-blank no-repeats name="newTodo">
    <input type="submit" ng-disabled="datToDoForm.$invalid" value="add">
    <input type="button" value="{{ editMode ? 'done' : 'edit' }}" ng-click="toggleEdit()">
    <div ng-show="datToDoForm.newTodo.$error.noBlank && datToDoForm.$dirty">Don't be shooting blanks</div>
    </form>
    <ul>
        <li ng-repeat="todo in todos | orderBy:'text'" class="done-{{todo.done}}">
            <input 
                   type="button" 
                   ng-show="editMode" 
                   value="Kill!" 
                   ng-click="removeMe($index)"/>
            <input type="checkbox"
                   ng-model="todo.done">
            <span ng-bind="todo.text"></span>
        </li>
    </ul>
    
    {{todos | json }}
</body>
</html>
